<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <div class="team">
        <div class="person">
            
            <p>This website, created by Christian students at IIT Guwahati, aims to support the spiritual well-being of fellow Christian students.</p>
        </div>
       
    </div>
</body>
</html>
